* {
    margin: 0%;
    padding: 0%;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body {
    width: 1440px;
    height: 837px;

}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #D7F5DC;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    margin-left: 2px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-between;
    margin-right: 50px;
    padding: 10px;
}

.menu li {
    cursor: pointer;
}

.login {
    padding: 6px 15px;
    border: 1px solid #20B15A;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    padding: 6px 15px;
    background: #20B15A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    background: #D7F5DC;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    color: #000000;
}

.get-started {
    padding: 12px 25px;
    background: #20B15A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image img {
    width: 350px;
    border-radius: 10px;
}

/* Brands */
.brands {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    background: #F8FFF9;
    font-weight: bold;
}