body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #2b2b2b;
}
.top-section {
    background: white;
    padding: 60px;
    position: relative;
}

.heard {
    font-size: 12px;
    color: gray;
}

.contact-title {
    font-size: 40px;
    margin-top: 10px;
    display: inline-block;
    border-bottom: 3px solid yellow;
    padding-bottom: 5px;
}

.arrow {
    position: absolute;
    right: 50px;
    top: 50%;
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.bottom-section {
    background: black;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: 22%;
    font-size: 14px;
}


.column a {
    color: white;
    font-size: 12px;
    text-decoration: underline;
}

.icons i {
    font-size: 18px;
    margin-right: 12px;
    cursor: pointer;
}
