*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(18, 18, 77);
    color: white;
    font-weight: 500;
}

.main-content
{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    display: flex;
    flex-direction: row;
}

.card1
{
    margin: 20px;
    padding: 10px;
    width:50%;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.card2
{
    margin: 20px;
    padding: 10px;
    width:50%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.button
{
    background-color: rgb(87, 189, 87);
    color: white;
    border: none;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}