* {

    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(40, 104, 165);
    color: white;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

}

.div1 {
    margin: 5px;
    padding: 5px;
    background-color: rgb(32, 161, 194);
    border-radius: 20px;
    opacity: 1;
}

#heading
{
    padding: 5px;
    margin: 5px;
}

.div2 {
    margin: 5px;
    padding: 5px;
    text-align: center;

}

.div3 {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.card1 {
    margin: 5px;
    padding: 5px;
    background-color: rgb(32, 161, 194);
    border-radius: 20px;
    opacity: 1;
}

.card2 {
    margin: 5px;
    padding: 5px;
    background-color: rgb(32, 161, 194);
    border-radius: 20px;
    opacity: 1;
}

.card3 {
    margin: 5px;
    padding: 5px;
    background-color: rgb(32, 161, 194);
    border-radius: 20px;
}

#link {
    color: white;
}

.div4 {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 161, 194);
    border-radius: 20px;
    opacity: 1;

}

#subdiv {
    margin: 5px;
    padding: 10px;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
}

#icon {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}