* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #FFF1DA;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.btn-outline {
    border: 1px solid #333;
    padding: 6px 14px;
    border-radius: 5px;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    padding: 60px 80px;
}

.hero-text {
    width: 50%;
}

#small
{
    color: #DF6951;
}

.hero-text h1 {
    font-size: 48px;
    margin: 20px 0;
}

.hero-text p {
    color: #666;
}

.hero-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.btn {
    background: orange;
    border: none;
    padding: 12px 25px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.play {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-circle {
    width: 45px;
    height: 45px;
    background: tomato;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SERVICES */
.services {
    text-align: center;
    padding: 60px;
}

.service-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.card {
    padding: 25px;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
}

.card.active {
    background: #fff;
    transform: scale(1.05);
}

